* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', Arial, sans-serif;
    background-color:#8fce8f;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 16px;
    background-color: ivory;
    color: rgb(38, 36, 36);
    width: 65%;
    margin: 15px auto; 
    border-radius: 2px; 
}

h1 {
    text-transform: uppercase;
    font-size: 23px;
    text-align: start;
}

main {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    background-color: ivory;
    width: 25%;
    height: 15%;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(57, 54, 54, 0.8);
    overflow: hidden;
} 


.img-container {
    width: calc(100% + 40px);
    height: 100%;
    margin: -20px -20px 10px -20px;
    padding: 0;
}

.profile-pic {
    display: block;
    margin: 0;
    width: 100%;
    height: 300px;
    border-radius: 0px 0px 200px 0px;
    object-fit: fill;
}  

h3, h5 {
    margin-bottom: 0;
    text-align: start;
    padding: 5px 0;
}

h3 {
    font-size: 24px;
    color: rgb(27, 10, 66);
    text-transform: uppercase;
    font-family: 'fantasy', Copperplate Papyrus, fantasy;
    letter-spacing: 2px;
}

h5 {
    font-size: 12px;
    color: #bb3d3d;
    text-transform: uppercase;
    padding: 3px; 
    font-family: 'Arial Black', Gadget, sans-serif;
}

p {
    font-size: 15px;
    color: rgb(95, 60, 176);
    text-align: justify;
    margin-bottom: 15px;
    line-height: 1.5;
    font-family: 'serif', 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: italic;
    padding: 5px;
}

aside i {
    font-size: 15px;
    color: rgb(21, 20, 42);
    margin-right: 15px;
    cursor: pointer;
    justify-self: start;
    text-align: left;    
}

aside {
    text-align: left;
}

aside i:hover {
    color: #bb3d3d;
}


